@import url(./formError.css);
@import url(./checkoutAddOns.css);

body {
  margin-top: 0;
  background: #f9f4f4;
}

.hero {
  background: #242424;
  padding: 1rem 0;
}

.hero .layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero .m-font {
  color: #fff;
  font-weight: 900;
  letter-spacing: 2px;
}

.hero .brand__name {
  color: #c2c2c2;
  font-size: clamp(1.4rem, 0.5rem + 1vw, 1.8rem);
}

.hero .img {
  width: 80px;
}

.checkout .grid {
  display: grid;
  grid-template-columns: 5fr 6fr;
  gap: 2rem;
}

.checkout .right {
  padding: 0.5rem;
  height: 80vh;
  overflow-y: auto;
}

/* custom scroll bar */

.checkout .right::-webkit-scrollbar {
  width: 0.35rem;
}

.checkout .right::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

/* custom scroll bar ends */

.contact-heading {
  margin-bottom: 1rem;
  font-size: clamp(1.75rem, 0.6rem + 1vw, 2.5rem);
}

input[type='email'],
input[type='text'],
input[type='tel'] {
  padding: 0.45rem 1rem;
  font-size: inherit;
  border-radius: 0.25rem;
  border: 1px solid #aaa;
}

.form__field {
  margin-bottom: 1rem;
}

.name__field {
  display: flex;
  gap: 1rem;
}

.name__field > * {
  width: 100%;
}

.place__order,
.discount-form .btn {
  display: block;
  background: #242424;
  width: max-content;
  margin-left: auto;
  color: #fff;
  border: 1px solid currentColor;
  transition: all 250ms ease;
}

.place__order:hover,
.place__order:focus,
.discount-form .btn:hover,
.discount-form .btn:focus {
  background: #fff;
  color: #242424;
}

.products > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

.product {
  display: grid;
  grid-template-columns: 6rem auto 7rem;
  gap: 0.75rem;
  align-items: center;
  padding: 1.25rem 0 1rem;
}

.prod__image {
  position: relative;
}

.prod__image img {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.prod__qty {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 2rem;
  background: #242424;
  color: #fff;
  font-size: 1.25rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
  user-select: none;
}

.prod__name {
  font-size: clamp(1rem, 0.5rem + 1vw, 1.5rem);
  font-weight: 900;
}

.prod__price {
  font-weight: 900;
  font-size: 1.1rem;
  opacity: 0.9;
}

.discount-form {
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
}

.checkout__details > * {
  padding: 2rem;
}

.sub-total,
.shipping,
.discount {
  font-size: 1.125rem;
  font-weight: 900;
}

:is(.sub-total, .shipping, .discount, .total) span {
  float: right;
}

.total {
  font-size: clamp(1.5rem, 0.75rem + 1vw, 2.25rem);
  font-weight: 900;
}

.seperator {
  border-bottom: 2px solid #ddd;
}

@media (max-width: 64rem) {
  .checkout .grid {
    grid-template-columns: 1fr;
  }
  .checkout .right {
    grid-row: 1;
  }
  .checkout .left {
    grid-row: 2;
  }
  .seperator {
    border-bottom: 2px solid #ddd;
  }
  .checkout :is(.left, .right) {
    height: auto;
    overflow: auto;
  }
}
