body {
  animation: transitionIn 0.75s;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.collection__header {
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(1.5rem, 1rem + 3vw, 4rem);
  width: fit-content;
  margin: auto;
  color: rgba(65, 43, 43, 0.3);
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-size: cover;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  position: relative;
}

.collection__header::before,
.collection__header::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #ccc;
}

@keyframes shine {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 400px;
  }
}

.collection__header::after {
  width: 30%;
  margin: auto;
  background: hsl(39, 100%, 50%);
}

.categories {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.category {
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  background: #ccc;
  border-bottom: 1px solid #bbb;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 1.15rem;
}

.category:is(:hover, :focus) {
  background: #aaa;
}

.category.active {
  background: var(--clr-primary-300);
  color: #f5f5f5;
}

.products {
  min-height: 80vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 0.5rem;
}

.products .loading-gif {
  width: 60%;
  height: 60%;
  margin: auto;
}

.products .card {
  width: 100%;
}

@media (max-width: 500px) {
  .categories {
    flex-direction: column;
  }
}
