@import url(./formError.css);
@import url(./animations.css);
body {
  animation: transitionIn 0.75s;
}

.main-title {
  text-align: center;
  text-transform: capitalize;
  font-size: clamp(1.5rem, 1rem + 3vw, 4rem);
  width: fit-content;
  margin: 0 auto 2rem;
  color: rgba(65, 43, 43, 0.3);
  background: linear-gradient(to right, #4d4d4d 0, white 10%, #4d4d4d 20%);
  background-size: cover;
  background-position: 0% 0%;
  -webkit-background-clip: text;
  animation: shine 5s linear infinite;
  position: relative;
}

.main-title::before,
.main-title::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #ccc;
}

@keyframes shine {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 400px;
  }
}

.main-title::after {
  width: 30%;
  margin: auto;
  background: hsl(39, 100%, 50%);
}

/* map */

#map {
  width: 100%;
  height: 500px;
}

/* Main Content Area */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.left .material-icons-round {
  font-size: 2rem;
  margin: auto;
}

:is(.left, .right) h2 {
  font-size: clamp(2rem, 3vw, 4rem);
  margin-bottom: 1.5rem;
  width: max-content;
  position: relative;
}

:is(.left, .right) h2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  right: 10%;
  height: 1px;
  background: #333;
}

.left .wrapper {
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr auto;
  column-gap: 0.5rem;
}
.left .wrapper p {
  font-size: 2rem;
}
.left .wrapper div {
  grid-column: 2;
  font-size: 1.125rem;
}

.left .wrapper div > * {
  display: block;
}

/* form */

.field-wrapper {
  margin-bottom: 1rem;
}

.field-wrapper label {
  font-size: 1.125rem;
}

.field-wrapper :is(input[type='text'], input[type='email'], textarea) {
  font-size: inherit;
  outline: none;
  border: none;
}

form .btn {
  color: #fff;
  background: var(--btn-primary);
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  border: 1px solid currentColor;
  transition: background 500ms ease;
}

form :is(.btn:hover, .btn:focus) {
  background: #fff;
  color: var(--btn-primary);
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #222;
  border-radius: 0.25rem;
  padding: 0.65rem 1rem;
}

.input-container .info {
  cursor: pointer;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

/* Popup */
.popup {
  position: fixed;
  inset: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
}

.popup .msg {
  width: max-content;
  padding: 3rem 2rem;
  border-radius: 0.25rem;
  background: #f4f4f4;
}

.popup .msg p {
  font-size: 1.25rem;
}

.popup .msg p:nth-child(2) {
  margin-bottom: 2rem;
}

.popup .msg .buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.popup .msg .btn {
  font-size: 1.25rem;
  color: #fff;
  background: #000;
  border: 1px solid currentColor;
  border-radius: 0.25rem;
  transition: all 500ms ease;
}

.popup .msg .btn:hover,
.popup .msg .btn:focus {
  color: #000;
  background: #fff;
}

/* Intro js */
.introjs-tooltip {
  background: #000;
  color: #fff;
}
