img:not(.logo-img) {
  width: 150px;
}

.grid {
  display: grid;
  grid-template-columns: 0.5rem 30ch 1fr 30ch 0.5rem;
  grid-template-areas:
    '. header header header .'
    '. left terrarium right .';
}

.grid .header {
  grid-area: header;
  text-align: center;
  margin-bottom: 1rem;
}

.grid .header h1 {
  margin-bottom: 1rem;
}

.left-container {
  grid-area: left;
}

.terrarium {
  grid-area: terrarium;
}

.right-container {
  grid-area: right;
}

.left-container,
.right-container {
  background: #f3f3f3;
  padding: 1rem;
  border-radius: 0.25rem;
  height: 600px;
  overflow: auto;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

:where(.left-container, .right-container)::-webkit-scrollbar {
  width: 0.25rem;
}

.left-container form {
  margin: 0 0 1rem;
}

.categories {
  width: 100%;
  padding: 0.25rem;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  gap: 0.25rem;
  height: 100%;
}

.products .product {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  object-fit: fill;
}

.terrarium {
  min-height: 600px;
  display: grid;
  place-items: center;
}

.jar-walls {
  position: relative;
  width: 95%;
  height: 100%;
  margin: auto;
  background: #d1e1df;
  border-radius: 1rem;
  z-index: 1;
}

.product__price {
  margin-bottom: 1.5rem;
}

.total__price {
  font-size: 1.25rem;
  font-weight: bold;
}

.checkout__button,
.download-design {
  color: #fff;
  background: var(--btn-primary);
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  border: 1px solid currentColor;
  transition: background 500ms ease;
}

.checkout__button:hover,
.checkout__button:focus,
.download-design:hover,
.download-design:focus {
  background: #fff;
  color: var(--btn-primary);
}

@media screen and (max-width: 1100px) {
  .grid {
    grid-template-columns: 0.25rem 25ch 1fr 25ch 0.25rem;
  }
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 0.5rem 1fr 0.5rem;
    grid-template-areas:
      '. header .'
      '. left .'
      '. terrarium .'
      '. right .';
  }

  .left-container,
  .right-container {
    height: 190px;
    width: 100%;
  }

  .left-container {
    background: none;
    padding: 0;
    overflow: hidden;
  }

  .left-container form {
    padding: 0 1rem;
  }

  .products {
    display: flex;
    gap: 1rem;
    background: #f3f3f3;
    padding: 1rem;
    overflow-y: auto;
    height: auto;
  }

  .products .product {
    width: 100px;
    height: 100px;
  }

  .right-container {
    columns: 4 25ch;
  }
}

/* helper classes */
.dragging {
  opacity: 0.5;
}

.room img {
  position: absolute;
  z-index: 3;
}

img.active {
  border: 2px dashed #333;
}

/* Customiation box */
.customization-box {
  position: fixed;
  top: min(100px, 20vh);
  left: min(50px, 10vw);
  width: 300px;
  padding: 2rem 1.5rem;
  background: #f4f4f4;
  border-radius: 0.25rem;
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 99999;
}

.field {
  margin-bottom: 0.75rem;
}

.field:nth-of-type(3) {
  margin-bottom: 2rem;
}

.field label {
  font-size: 1.75rem;
}

.field input {
  padding: 0.25rem 0.5rem;
  width: 80%;
}

.field .z-index {
  display: flex;
  gap: 0.5rem;
}

.field .z-index button {
  border: 1px solid #aaa;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 150ms ease;
}

.field .z-index :is(button:hover, button:focus) {
  transform: scale(1.05);
}

.cta-close {
  display: block;
  width: max-content;
  font-size: 1.25rem;
  color: #333;
  margin-left: auto;
  margin-top: 3rem;
  border: 1px solid currentColor;
  transition: all 150ms ease;
}

.cta-close:hover,
.cta-close:focus {
  color: #fff;
  background: #333;
}
